body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(42,77,81);
    color: rgb(236,253,253);
    padding: 0 25% 16.67% 25%;
    margin: 0px;
}

.titleContainer {
    font-weight: bold;
    text-align: center;
}

.textEntryField{
    color: rgb(20,20,20);
    border-radius: 20px;
    margin-bottom: 10px;
}

.listContainer{
    border-style: dotted;
    border-color: rgb(236,253,253);
    color: rgb(236,253,253);
    border-radius: 20px;
    padding: 60px;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-wrap: wrap;
}

#instructionList{
    text-align: left;
}

#reset-button {
    padding: 5px;
    background: rgb(231, 240, 240);
    color:rgb(20,20,20);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border-style: groove;
}

#save-button {
    padding: 5px;
    background: rgb(33,170,153);
    color:rgb(236,253,253);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    border-style: groove;
    margin-left: 10px;
}

.add-button{
    padding: 5px;
    background: rgb(236,253,253);
    color:rgb(20,20,20);
    cursor: pointer;
    border-radius: 10px;
    margin-left: 10px;
}

div input {
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
  }

#ingredientList div {
    background-color: rgb(33,170,153);
    border-color: rgb(236,253,253);
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

#instructionList div {
    border-color: rgb(236,253,253);
    border-style: dashed;
    font-weight: bold;
    font-size: 1.5em;
    margin: 10px;
    padding: 10px;
}

button:hover, button:focus {
    transform: scale(1.2);
    transition: transform 0.3s ease;
  }